<a href="https://colab.research.google.com/github/yadevi/Bios8366/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
#database records,excel records,tabular form - structured data
#

In [3]:
#list of recoreds
data = [10,20,30,40,50,60]

In [4]:

pd.Series(data= data)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [5]:
pd.Series(data = [100,200,300,400,500,600],index = ['a','b','c','d','e','f'])

a    100
b    200
c    300
d    400
e    500
f    600
dtype: int64

In [6]:
pd.Series(data = [100,200,300,400,500,600],index = ['a','b','c','d','e','f'],dtype = 'int16')

a    100
b    200
c    300
d    400
e    500
f    600
dtype: int16

In [7]:
data_series = pd.Series(data = [100,200,300,400,500,600],index = ['a','b','c','d','e','f'],dtype = 'int16')

In [8]:
data_series.values

array([100, 200, 300, 400, 500, 600], dtype=int16)

In [9]:
data_series.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [11]:
data_series = {'column1' : pd.Series(data = [100,200,300,400,500,600],index = ['a','b','c','d','e','f']) }
              'column2' : pd.Series(data= [10,20,30,40,50,60])

IndentationError: ignored

In [12]:
sales = {'customer id' : [1001,1002,1003,1005],
         'productid' : ['xoo1','x002','x003','x005'],
         'price' : [99,1999,2999,499,5999]}

In [13]:
sales

{'customer id': [1001, 1002, 1003, 1005],
 'price': [99, 1999, 2999, 499, 5999],
 'productid': ['xoo1', 'x002', 'x003', 'x005']}

*pandas*

In [14]:
movies_df = pd.read_csv('https://github.com/yadevi/MachineLearning/blob/master/Datasets/movies.csv')

ParserError: ignored

In [15]:
movies_df = pd.read_csv(https://github.com/ammishra08/MachineLearning/blob/master/Datasets/movies.csv)

SyntaxError: ignored

In [16]:
movies_df = pd.read_csv("https://github.com/ammishra08/MachineLearning/blob/master/Datasets/movies.csv")

ParserError: ignored

In [17]:
movies_df = pd.read_csv('https://github.com/ammishra08/MachineLearning/blob/master/Datasets/movies.csv')

ParserError: ignored

In [18]:
movies_df = pd.read_csv('https://github.com/ammishra08/MachineLearning/blob/master/Datasets/movies.csv')

ParserError: ignored

In [20]:
import pandas as pd

In [21]:
movies_df = pd.read_csv('https://raw.githubusercontent.com/ammishra08/MachineLearning/master/Datasets/movies.csv')

In [22]:
display(movies_df)

                                  Film    Genre  ... Worldwide Gross  Year
0           Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1                      Youth in Revolt   Comedy  ...         $19.62   2010
2   You Will Meet a Tall Dark Stranger   Comedy  ...         $26.66   2010
3                         When in Rome   Comedy  ...         $43.04   2010
4                What Happens in Vegas   Comedy  ...        $219.37   2008
..                                 ...      ...  ...             ...   ...
72                 Across the Universe  romance  ...         $29.37   2007
73                       A Serious Man    Drama  ...         $30.68   2009
74                  A Dangerous Method    Drama  ...          $8.97   2011
75                          27 Dresses   Comedy  ...        $160.31   2008
76                (500) Days of Summer   comedy  ...         $60.72   2009

[77 rows x 8 columns]

**data manipulation**

In [23]:
#for missing data
movies_df.isnull()

     Film  Genre  Lead Studio  ...  Rotten Tomatoes %  Worldwide Gross   Year
0   False  False        False  ...              False            False  False
1   False  False        False  ...              False            False  False
2   False  False        False  ...              False            False  False
3   False  False        False  ...              False            False  False
4   False  False        False  ...              False            False  False
..    ...    ...          ...  ...                ...              ...    ...
72  False  False        False  ...              False            False  False
73  False  False        False  ...              False            False  False
74  False  False        False  ...              False            False  False
75  False  False        False  ...              False            False  False
76  False  False        False  ...              False            False  False

[77 rows x 8 columns]

In [24]:
movies_df.isnull.sum()

AttributeError: ignored

In [25]:
movies_df.isnull().sum()

Film                 0
Genre                0
Lead Studio          0
Audience score %     0
Profitability        0
Rotten Tomatoes %    0
Worldwide Gross      0
Year                 0
dtype: int64

*selecting columns*

In [26]:
X = movies_df[['Film', 'Year', 'Audience score %']]

In [27]:
display(X)

                                  Film  Year  Audience score %
0           Zack and Miri Make a Porno  2008                70
1                      Youth in Revolt  2010                52
2   You Will Meet a Tall Dark Stranger  2010                35
3                         When in Rome  2010                44
4                What Happens in Vegas  2008                72
..                                 ...   ...               ...
72                 Across the Universe  2007                84
73                       A Serious Man  2009                64
74                  A Dangerous Method  2011                89
75                          27 Dresses  2008                71
76                (500) Days of Summer  2009                81

[77 rows x 3 columns]

In [28]:
movies_df.shape

(77, 8)

In [29]:
movies_df.shape(0)

TypeError: ignored

In [30]:
movies_df.shape[1]

8

In [31]:
movies_df.columns

Index(['Film', 'Genre', 'Lead Studio', 'Audience score %', 'Profitability',
       'Rotten Tomatoes %', 'Worldwide Gross', 'Year'],
      dtype='object')